<div class="mat-body-1">
  <div class="mat-headline extraTop">
  About TempusTimeNG
  </div>
  TempusTimeNG is a web application for registering time spent on different things in courses at a university. This web application is written in Angular 5 and it 
  uses Google Firebase as its backend. Constructing this app has been a way to better learn those technologies for future lectures. It is safe to say that it has served its purpose well.<br/>
  <br/>
  It is a complete rewrite of TempusTime which was written in JavaServer Faces and used MySQL as its backend. It was also a solution that needed more work to set up as it needed
  both a web server running Java (we used Wildfly) and MySQL running somewhere to work.<br/>
  <br/>
  TempusTimeNG, and TempusTime, are both released under GPL 3.0 and TempusTimeNG is available from <a href="https://gitlab.com/Abdaxz/TempusTimeNG">GitLab</a>.
</div>
