<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- <div class="grid-layout"> -->
  <mat-toolbar color="primary" class="top">
      <mat-toolbar-row>
        <img src="../assets/ttng.svg" width="40px"/><span class="title mat-headline">TempusTimeNG</span>
        <span class="example-spacer"></span>
        <span *ngIf="afAuth.authState | async as user">
          <span class="userName">{{ user.displayName }}</span>
          <img class="avatar" src="{{ user.photoURL }}" />
        </span>
      </mat-toolbar-row>
  </mat-toolbar>

  <app-home></app-home>

 

<!-- </div> -->