<div class="mat-body-1">
  <div class="mat-headline extraTop">
    Select course
  </div>
  <mat-form-field class="inputSpace">
    <mat-select placeholder="Course Name" [(ngModel)]="selectedCourse" value="course" (change)="getCourseInfo()">
      <mat-option *ngFor="let course of coursesItems | async" [value]="course">
        {{ course.courseName }} ({{ course.term }}, {{ course.year}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="courseResults.length > 0">
    <table class="tableSpace">
      <tr><th>Work</th><th>Duration</th><th>Hours and minutes</th></tr>
      <tr *ngFor="let res of courseResults" >
        <td>{{ res.element }}</td><td>{{ res.totalDuration }}</td><td>({{ res.hours}} h and {{ res.minutes }} minutes)</td>
      </tr>
      <tr>
        <td><b>{{ finalResult?.element }}</b></td><td><b>{{ finalResult?.totalDuration }}</b></td><td>
        <span *ngIf="finalResult">  
          <b>({{ finalResult?.hours}} h and {{ finalResult?.minutes }} minutes)</b>
        </span>
        </td>
      </tr>
    </table>  
  </div>
</div>