.extraTop {
    margin-top: 10px;
}

.extraSpace {
    margin-right: 10px;
}

.inputSpace {
    min-width: 150px;
    max-width: 225px;
    width: 100%;
}

.reg-radio-button {
    margin: 5px;
 }

 .reg-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.remove-button {
    margin-left: 110px;
}