<mat-tab-group>
  <mat-tab label="Add Course">
      <div class="mat-headline extraTop">
        Add a new course
      </div>
      <mat-form-field class="inputSpace">
        <input matInput placeholder="Course name" type="text" [(ngModel)] = "selectedName" />
      </mat-form-field>
      <br/><br/>
      <mat-radio-group [(ngModel)]="selectedTerm">
        <mat-radio-button value="Spring" class="extraSpace">Spring term</mat-radio-button>
        <mat-radio-button value="Autumn">Autumn term</mat-radio-button>
      </mat-radio-group>
      <br/><br/>
      <mat-form-field class="inputSpace">
        <mat-select placeholder="Year" [(ngModel)]="selectedYear" name="year">
          <mat-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/><br/>
      <mat-slide-toggle [(ngModel)]="selectedActive">Active</mat-slide-toggle>
      <br/><br/>
      <button mat-raised-button color="primary" (click)="registerCourse()">Create course</button>
      <!-- {{ selectedName }} {{ selectedTerm }} {{ selectedYear }} {{ selectedActive }} -->
  </mat-tab>
  <mat-tab label="De/activate course">
    <div class="mat-body-1">
      <div class="mat-headline extraTop">
        Activate or deactivate a course
      </div>
      <mat-form-field class="inputSpace">
        <mat-select placeholder="Course Name" [(ngModel)]="selectedCourse" value="course">
          <mat-option *ngFor="let course of coursesItems | async" [value]="course">
            {{ course.courseName }} ({{ course.term }}, {{ course.year}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/><br/>
      Currently the course is: &nbsp; <mat-slide-toggle [checked] = "selectedCourse?.active" (click)="updateCourse(selectedCourse)"></mat-slide-toggle>
      <br/><br/>
      <button mat-raised-button color="warn" (click)="deleteCourse(selectedCourse)">Delete course</button>
    </div>
  </mat-tab>
  <mat-tab label="Remove registered time">
      <div class="mat-headline extraTop">
        Remove time that has been registered
      </div>
      <mat-form-field class="inputSpace">
        <mat-select placeholder="Course Name" [(ngModel)]="selectedTimeCourse" value="course" (change)="showWork()" >
          <mat-option *ngFor="let course of coursesItems | async" [value]="course">
            {{ course.courseName }} ({{ course.term }}, {{ course.year}})
          </mat-option>
        </mat-select>
      </mat-form-field>
       <br/>
      <button mat-raised-button [disabled]="!selected" color="primary" class="remove-button" (click)="deleteTime(selectedWorkItem)">Remove time</button>
      <br/>
      <div class="mat-body-2">Select one</div>
      <mat-radio-group *ngIf="selectedTimeCourse.courseName!=null" class="reg-radio-group" [(ngModel)]="selectedWorkItem">
        <mat-radio-button required class="reg-radio-button" *ngFor="let work of workItems | async" [value]="work" (click)="courseSelected()" >
          {{ work.duration }} minutes of {{ work.element }}
        </mat-radio-button>
      </mat-radio-group>
      <br/><br/><br/>
  </mat-tab>
</mat-tab-group>