<h2 mat-dialog-title>An error has occured</h2>
<mat-dialog-content>
    <div class="mat-body-1">
        Something went wrong, please contact the systems administrator.
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>