/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: calc(100vh - 100px);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 70px;
    background-color: #3F51B5;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

.title {
    margin-left: 20px;
    margin-top: 10px;
}

.linkbox{
    background-color: #ececec;
    height: 250px;
    max-height: 250px;
    width: 200px;
}

.linkitem{
    text-decoration: none;
}

/* .link-box{
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    padding-left: 5px;
    height: 350px;
    max-height: 350px;
} */

.link-item{
    margin: 10px 0 10px 0;
    text-decoration: none;
}

/* New try, old school */

.top {
    margin-bottom: 20px;
}

.left {
    display: block;
    width: 200px;
    float: left;
    margin-right: 20px;
    height: 500px;
}

.content {    
    margin: 0 auto;
    height: calc(100vh - 200px);
}

.footer {
    clear: both;
    height: 100px;
    background-color: #3f51b5;
    color: white;
    text-align: center;
}

/* End of new try... */




/* .grid-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
} */

/* .grid-layout {
    display: grid;
    min-height: 100%;
    margin-top: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 258px auto 258px;
    grid-template-rows: 65px 1fr 200px;
} */

/* .grid-container {
    display: grid;
    margin-top: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 258px auto 258px;
} */

/* .top {
    grid-column-start: 1;
    grid-column-end: span 3; 
    flex-shrink: 0;
} */

/* .left {
    display: grid;
    grid-row: 2;
    grid-column: 1; 
    flex-shrink: 1;
} */

/* .content {
    display: grid;
    grid-row: 2;
    grid-column: 2; 
    flex-grow: 1;
} */

/* .right {
    grid-column: 3;
} */

.avatar {
    border-radius: 50%;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.userName {
    position: relative;
    top: -20px;
}

/* .footer {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: span 3; 
    flex-shrink: 0;
    height: 100px;
    background-color: #3f51b5;
    color: white;
    text-align: center;
} */