<div *ngIf="afAuth.authState | async as user; else showLogin" >
  <!-- {{ setUser() }}
  {{ setNewUser() }} -->
  
  <div class="left">
    <mat-list class="linkbox">
      <mat-list-item><a routerLink="register" class="linkitem"><mat-icon>done</mat-icon>&nbsp; Register</a></mat-list-item>
      <mat-list-item><a routerLink="reports" class="linkitem"><mat-icon>assessment</mat-icon>&nbsp; Reports</a></mat-list-item>
      <mat-list-item><a routerLink="configure" class="linkitem"><mat-icon>build</mat-icon>&nbsp; Configure</a></mat-list-item>
      <mat-list-item><a routerLink="about" class="linkitem"><mat-icon>info</mat-icon>&nbsp; About</a></mat-list-item>
      <mat-list-item><button mat-raised-button color="primary" (click)="logout()">Logout</button></mat-list-item>
    </mat-list>
  </div>

    <div class="content mat-body-1">     
        <router-outlet></router-outlet>
    </div>
  
    <div class="footer mat-body-1">
      <br/>
      TempusTime is developed by Abdaxz Software.<br/>
      Original release in 2018 (2016)<br/>
      Released under GPL 3.0 and available from <a href="https://gitlab.com/Abdaxz/TempusTimeNG">GitLab</a>.
      <br/><br/>
    </div>
</div>

<ng-template #showLogin>
    <p class="mat-body-1">Please login to use TempusTimeNG!</p>
    <button mat-raised-button color="primary" (click)="login()">Login with Google</button>
</ng-template>