<h2 mat-dialog-title>An error has occured</h2>
<mat-dialog-content>
    <div class="mat-body-1">
        To register time, you need to select one item from each group (Courses, Duration and Elements)
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>