<div class="mat-body-1 centre-content">
    <div class="mat-title">Courses</div>
    <mat-radio-group  [(ngModel)]="selectedWorkItem">
        <mat-radio-button required class="reg-radio-button" *ngFor="let course of workCourses | async" [value]="course">
            {{ course.courseName }} ({{ course.term }} {{ course.year }})
        </mat-radio-button>
    </mat-radio-group>
    <div class="mat-title extra-top">Duration</div>
    <mat-radio-group [(ngModel)]="selectedDuration">
        <mat-radio-button class="reg-radio-button-time" *ngFor="let time of itemDuration" [value]="time">
            {{ time }} min
        </mat-radio-button>
    </mat-radio-group>
    <div class="mat-title extra-top">Elements</div>
    <mat-radio-group [(ngModel)]="selectedElement">
        <mat-radio-button class="reg-radio-button" *ngFor="let element of courseElements" [value]="element">
            {{ element }} 
        </mat-radio-button>
    </mat-radio-group><br/>
    <br/>
    <button mat-raised-button color="primary" class="extra-extra-top" (click)="saveTime()">Register Time</button>
    <br/><br/>
</div>
