.reg-radio-group {
   display: inline-flex;
   flex-direction: column;
}
  
.reg-radio-button-time {
   margin: 5px;
   width: 100px;
}

.reg-radio-button {
    margin: 5px;
    width: 210px;
 }

.centre-content {
    align-items: center;  
    justify-items: center;
    width: 500px;
    float: left;
}

.colLay {
    width: 50px;
    columns: 185px 3;
    column-gap: 8px;
}

.colLay3 {
    columns: 100px 3;
    column-gap: 8px;
}

.extra-top {
    margin-top: 20px;
}

.extra-extra-top {
    margin-top: 20px;
}